*dependency-reduced-pom.xml
.classpath
.project
.settings/
target/
devenv
*.log*
*.iml
.idea/
*.versionsBackup
!NOTICE-BIN
!LICENSE-BIN
.DS_Store
localbin
nohup.out

distribution/logs/**
distribution/store/commitlog/**
distribution/store/config/**
distribution/store/consumequeue/**
distribution/store/index/**
distribution/store/checkpoint
distribution/store/lock